<h2>soro anzan</h2>

<div>
  <p>このサイトは<strong>そろばんの暗算練習</strong>のために作られました。<br>
  一桁の数字が二つ出題されます。下には回答もあります。<br>
  もちろん日々の生活の中で<strong>計算をしていないな</strong>という方も挑戦してみてください。</p>
  <p>無料でご利用いただけます。</p>


<%= link_to 'show', pages_show_path %>
