<h2>sum</h2>

<table>
  <% @calc.last.each do |e| %>
    <tr><td><%= e %></td></tr>
  <% end %>
  <tr><td class="ans"><%= @calc.first %></td></tr>
</table>

<h3><%= link_to 'retry', pages_show_path, 'data-turbolinks': false %></h3>

