
header{
  background-color: #696969;
  color: white;
}

nav{
  text-align: center;
}

table{
  width: 80px;
}

td{
  text-align: center;
}

td.ans{
  border-top: 1px solid #696969;
  color: red;
}
